* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

main {

    background-color: #328c44;
    section {
        display: none;
    }
    
    .section-activo {
        display: block;
    }
}


/* Colores */

.bg-red {
    background-color: #D35D6E; color: white;
    border: 3px solid #a44150 !important;

    &:hover {
        background-color: #c23b4f;
    }       
}

.bg-green {
    background-color: #5AA469; color: white;
    border: 3px solid #328c44 !important;

    &:hover {
        background-color: #38a24d;
    }
}

/* Containers */

.container-btn {
    position: absolute; bottom: 0; left: 0;
    width: 100%;
    text-align: center;

    button {
        width: 90%;
        padding: 1em;
        border: none;
        cursor: pointer;
        margin-bottom: 1em;
    }
}

.modal { // LOGO

    img {
        width: 100%;
    }
}


.grid-2x {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-6x {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid-7x {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid-between {
    justify-content: space-between;
    align-self: center;
}
